/* Mixins *******************************************/
/*easeInOutQuint*/
/* line 4, ../../../workspace/styles/errors/_errors-base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../../../workspace/styles/errors/_errors-base.scss */
html,
body {
  height: 100%;
}

/* line 16, ../../../workspace/styles/errors/_errors-base.scss */
body {
  background: #000;
  padding: 52px 0 0;
}

/* line 21, ../../../workspace/styles/errors/_errors-base.scss */
.error-wrap {
  position: relative;
}
/* line 25, ../../../workspace/styles/errors/_errors-base.scss */
.error-wrap .circle-wrap {
  background: #000;
  color: #fff;
  height: auto;
  min-height: 225px;
  position: relative;
  z-index: 2;
}
/* line 34, ../../../workspace/styles/errors/_errors-base.scss */
.error-wrap .circle-wrap h3 {
  font-size: 12px;
  font-size: 1.2rem;
}
/* line 40, ../../../workspace/styles/errors/_errors-base.scss */
.error-wrap .circle {
  padding-top: 20px;
  vertical-align: baseline;
}
/* line 45, ../../../workspace/styles/errors/_errors-base.scss */
.error-wrap .circle-btn {
  color: #000;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* line 53, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 {
  background: #18ff00;
}
/* line 57, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rabbit {
  background: url(/assets/images/rabbit-404-mobile.png);
  height: 240px;
  margin: 0 auto;
  position: relative;
  width: 262px;
  z-index: 1;
}
/* line 66, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings {
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
/* line 76, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li {
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50%;
  height: 400px;
  left: 50%;
  margin: -200px 0 0 -200px;
  position: absolute;
  top: 186px;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 400px;
}
/* line 93, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li:nth-child(odd) {
  background: #fff;
}
/* line 97, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li:nth-child(even) {
  background: #18ff00;
}
/* line 103, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li:nth-child(16) {
  -moz-transform: scale(0.54);
  -webkit-transform: scale(0.54);
  transform: scale(0.54);
  z-index: 16;
}
/* line 103, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li:nth-child(15) {
  -moz-transform: scale(0.72);
  -webkit-transform: scale(0.72);
  transform: scale(0.72);
  z-index: 15;
}
/* line 103, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li:nth-child(14) {
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  z-index: 14;
}
/* line 103, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li:nth-child(13) {
  -moz-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  z-index: 13;
}
/* line 103, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li:nth-child(12) {
  -moz-transform: scale(1.26);
  -webkit-transform: scale(1.26);
  transform: scale(1.26);
  z-index: 12;
}
/* line 103, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li:nth-child(11) {
  -moz-transform: scale(1.44);
  -webkit-transform: scale(1.44);
  transform: scale(1.44);
  z-index: 11;
}
/* line 103, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li:nth-child(10) {
  -moz-transform: scale(1.62);
  -webkit-transform: scale(1.62);
  transform: scale(1.62);
  z-index: 10;
}
/* line 103, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li:nth-child(9) {
  -moz-transform: scale(1.8);
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
  z-index: 9;
}
/* line 103, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li:nth-child(8) {
  -moz-transform: scale(1.98);
  -webkit-transform: scale(1.98);
  transform: scale(1.98);
  z-index: 8;
}
/* line 103, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li:nth-child(7) {
  -moz-transform: scale(2.16);
  -webkit-transform: scale(2.16);
  transform: scale(2.16);
  z-index: 7;
}
/* line 103, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li:nth-child(6) {
  -moz-transform: scale(2.34);
  -webkit-transform: scale(2.34);
  transform: scale(2.34);
  z-index: 6;
}
/* line 103, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li:nth-child(5) {
  -moz-transform: scale(2.52);
  -webkit-transform: scale(2.52);
  transform: scale(2.52);
  z-index: 5;
}
/* line 103, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li:nth-child(4) {
  -moz-transform: scale(2.7);
  -webkit-transform: scale(2.7);
  transform: scale(2.7);
  z-index: 4;
}
/* line 103, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li:nth-child(3) {
  -moz-transform: scale(2.88);
  -webkit-transform: scale(2.88);
  transform: scale(2.88);
  z-index: 3;
}
/* line 103, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li:nth-child(2) {
  -moz-transform: scale(3.06);
  -webkit-transform: scale(3.06);
  transform: scale(3.06);
  z-index: 2;
}
/* line 103, ../../../workspace/styles/errors/_errors-base.scss */
.error-404 .rings li:nth-child(1) {
  -moz-transform: scale(3.24);
  -webkit-transform: scale(3.24);
  transform: scale(3.24);
  z-index: 1;
}

/* line 120, ../../../workspace/styles/errors/_errors-base.scss */
.error-500 {
  background: #ffd800;
}
/* line 124, ../../../workspace/styles/errors/_errors-base.scss */
.error-500 .rabbit {
  background: url(/assets/images/rabbit-500-mobile.png);
  height: 250px;
  left: 25px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  width: 191px;
  z-index: 3;
}

@media only screen and (min-width: 960px) {
  @-moz-keyframes expand {
    /* line 7, ../../../workspace/styles/errors/_errors-960.scss */
    0% {
      -moz-transform: scale(1);
    }

    /* line 8, ../../../workspace/styles/errors/_errors-960.scss */
    100% {
      -moz-transform: scale(15);
    }
}

  @-webkit-keyframes expand {
    /* line 12, ../../../workspace/styles/errors/_errors-960.scss */
    0% {
      -webkit-transform: scale(1);
    }

    /* line 13, ../../../workspace/styles/errors/_errors-960.scss */
    100% {
      -webkit-transform: scale(15);
    }
}

  @keyframes expand {
    /* line 17, ../../../workspace/styles/errors/_errors-960.scss */
    0% {
      transform: scale(1);
    }

    /* line 18, ../../../workspace/styles/errors/_errors-960.scss */
    100% {
      transform: scale(15);
    }
}

  @-moz-keyframes tilt {
    /* line 22, ../../../workspace/styles/errors/_errors-960.scss */
    50% {
      -moz-transform: rotate(-4deg);
    }

    /* line 23, ../../../workspace/styles/errors/_errors-960.scss */
    100% {
      -moz-transform: rotate(4deg);
    }
}

  @-webkit-keyframes tilt {
    /* line 27, ../../../workspace/styles/errors/_errors-960.scss */
    50% {
      -webkit-transform: rotate(-4deg);
    }

    /* line 28, ../../../workspace/styles/errors/_errors-960.scss */
    100% {
      -webkit-transform: rotate(4deg);
    }
}

  @keyframes tilt {
    /* line 32, ../../../workspace/styles/errors/_errors-960.scss */
    50% {
      transform: rotate(-4deg);
    }

    /* line 33, ../../../workspace/styles/errors/_errors-960.scss */
    100% {
      transform: rotate(4deg);
    }
}

  @-moz-keyframes swing {
    /* line 37, ../../../workspace/styles/errors/_errors-960.scss */
    0% {
      margin-left: 0;
      -moz-transform: scale(0.75) rotate(15deg);
    }

    /* line 41, ../../../workspace/styles/errors/_errors-960.scss */
    50% {
      margin-left: 15px;
      -moz-transform: scale(1) rotate(-15deg);
    }

    /* line 45, ../../../workspace/styles/errors/_errors-960.scss */
    100% {
      margin-left: 0;
      -moz-transform: scale(0.75) rotate(15deg);
    }
}

  @-webkit-keyframes swing {
    /* line 52, ../../../workspace/styles/errors/_errors-960.scss */
    0% {
      margin-left: 0;
      -webkit-transform: scale(0.75) rotate(15deg);
    }

    /* line 56, ../../../workspace/styles/errors/_errors-960.scss */
    50% {
      margin-left: 15px;
      -webkit-transform: scale(1) rotate(-15deg);
    }

    /* line 60, ../../../workspace/styles/errors/_errors-960.scss */
    100% {
      margin-left: 0;
      -webkit-transform: scale(0.75) rotate(15deg);
    }
}

  @keyframes swing {
    /* line 67, ../../../workspace/styles/errors/_errors-960.scss */
    0% {
      margin-left: 0;
      transform: scale(0.75) rotate(15deg);
    }

    /* line 71, ../../../workspace/styles/errors/_errors-960.scss */
    50% {
      margin-left: 15px;
      transform: scale(1) rotate(-15deg);
    }

    /* line 75, ../../../workspace/styles/errors/_errors-960.scss */
    100% {
      margin-left: 0;
      transform: scale(0.75) rotate(15deg);
    }
}

  @-moz-keyframes shatter {
    /* line 82, ../../../workspace/styles/errors/_errors-960.scss */
    0% {
      visibility: hidden;
    }

    /* line 83, ../../../workspace/styles/errors/_errors-960.scss */
    99% {
      visibility: hidden;
    }

    /* line 84, ../../../workspace/styles/errors/_errors-960.scss */
    100% {
      visibility: visible;
    }
}

  @-webkit-keyframes shatter {
    /* line 88, ../../../workspace/styles/errors/_errors-960.scss */
    0% {
      visibility: hidden;
    }

    /* line 89, ../../../workspace/styles/errors/_errors-960.scss */
    99% {
      visibility: hidden;
    }

    /* line 90, ../../../workspace/styles/errors/_errors-960.scss */
    100% {
      visibility: visible;
    }
}

  @keyframes shatter {
    /* line 94, ../../../workspace/styles/errors/_errors-960.scss */
    0% {
      visibility: hidden;
    }

    /* line 95, ../../../workspace/styles/errors/_errors-960.scss */
    99% {
      visibility: hidden;
    }

    /* line 96, ../../../workspace/styles/errors/_errors-960.scss */
    100% {
      visibility: visible;
    }
}

  /* line 99, ../../../workspace/styles/errors/_errors-960.scss */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 106, ../../../workspace/styles/errors/_errors-960.scss */
  .error-wrap {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  /* line 113, ../../../workspace/styles/errors/_errors-960.scss */
  .error-wrap .circle-wrap {
    height: 612px;
    left: 50%;
    margin: -306px 0 0 -306px;
    min-height: 0;
    opacity: 1;
    position: absolute;
    top: 50%;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 612px;
  }
  /* line 125, ../../../workspace/styles/errors/_errors-960.scss */
  .error-wrap .circle-wrap .circle {
    opacity: 1;
    padding: 0 70px;
    vertical-align: middle;
  }
  /* line 131, ../../../workspace/styles/errors/_errors-960.scss */
  .error-wrap .circle-wrap .circle-btn {
    bottom: 70px;
    left: 50%;
    margin-bottom: 0;
    margin-top: 0;
  }
  /* line 138, ../../../workspace/styles/errors/_errors-960.scss */
  .error-wrap .circle-wrap h1 {
    letter-spacing: 5px;
  }
  /* line 142, ../../../workspace/styles/errors/_errors-960.scss */
  .error-wrap .circle-wrap h3 {
    font-size: 15px;
    font-size: 1.5rem;
  }
  /* line 146, ../../../workspace/styles/errors/_errors-960.scss */
  .error-wrap .circle-wrap a {
    color: #000;
  }

  /* line 156, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rabbit {
    -webkit-animation: tilt 3.5s ease-in-out infinite;
    -moz-animation: tilt 3.5s ease-in-out infinite;
    animation: tilt 3.5s ease-in-out infinite;
    background: url(/assets/images/rabbit-404-desktop.png);
    bottom: -30px;
    height: 639px;
    left: 54%;
    margin: 0;
    position: absolute;
    -moz-transform-origin: 35% 100%;
    -ms-transform-origin: 35% 100%;
    -webkit-transform-origin: 35% 100%;
    transform-origin: 35% 100%;
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    width: 558px;
    z-index: 50;
  }
  /* line 179, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rings {
    position: relative;
  }
  /* line 183, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rings li {
    -webkit-animation: expand 8s linear infinite;
    -moz-animation: expand 8s linear infinite;
    animation: expand 8s linear infinite;
    background: none !important;
    border: 50px solid #fff;
    height: 600px;
    margin: -300px 0 0 -300px;
    top: 50%;
    width: 600px;
  }
  /* line 197, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rings li:nth-child(1) {
    -moz-animation-delay: 0ms;
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 16;
  }
  /* line 197, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rings li:nth-child(2) {
    -moz-animation-delay: 500ms;
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 15;
  }
  /* line 197, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rings li:nth-child(3) {
    -moz-animation-delay: 1000ms;
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 14;
  }
  /* line 197, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rings li:nth-child(4) {
    -moz-animation-delay: 1500ms;
    -webkit-animation-delay: 1500ms;
    animation-delay: 1500ms;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 13;
  }
  /* line 197, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rings li:nth-child(5) {
    -moz-animation-delay: 2000ms;
    -webkit-animation-delay: 2000ms;
    animation-delay: 2000ms;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 12;
  }
  /* line 197, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rings li:nth-child(6) {
    -moz-animation-delay: 2500ms;
    -webkit-animation-delay: 2500ms;
    animation-delay: 2500ms;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 11;
  }
  /* line 197, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rings li:nth-child(7) {
    -moz-animation-delay: 3000ms;
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 10;
  }
  /* line 197, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rings li:nth-child(8) {
    -moz-animation-delay: 3500ms;
    -webkit-animation-delay: 3500ms;
    animation-delay: 3500ms;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 9;
  }
  /* line 197, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rings li:nth-child(9) {
    -moz-animation-delay: 4000ms;
    -webkit-animation-delay: 4000ms;
    animation-delay: 4000ms;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 8;
  }
  /* line 197, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rings li:nth-child(10) {
    -moz-animation-delay: 4500ms;
    -webkit-animation-delay: 4500ms;
    animation-delay: 4500ms;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 7;
  }
  /* line 197, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rings li:nth-child(11) {
    -moz-animation-delay: 5000ms;
    -webkit-animation-delay: 5000ms;
    animation-delay: 5000ms;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 6;
  }
  /* line 197, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rings li:nth-child(12) {
    -moz-animation-delay: 5500ms;
    -webkit-animation-delay: 5500ms;
    animation-delay: 5500ms;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 5;
  }
  /* line 197, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rings li:nth-child(13) {
    -moz-animation-delay: 6000ms;
    -webkit-animation-delay: 6000ms;
    animation-delay: 6000ms;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 4;
  }
  /* line 197, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rings li:nth-child(14) {
    -moz-animation-delay: 6500ms;
    -webkit-animation-delay: 6500ms;
    animation-delay: 6500ms;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 3;
  }
  /* line 197, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rings li:nth-child(15) {
    -moz-animation-delay: 7000ms;
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 2;
  }
  /* line 197, ../../../workspace/styles/errors/_errors-960.scss */
  .error-404 .rings li:nth-child(16) {
    -moz-animation-delay: 7500ms;
    -webkit-animation-delay: 7500ms;
    animation-delay: 7500ms;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 1;
  }

  /* line 218, ../../../workspace/styles/errors/_errors-960.scss */
  .error-500 {
    overflow: hidden;
  }
  /* line 222, ../../../workspace/styles/errors/_errors-960.scss */
  .error-500 .glass {
    -webkit-animation: shatter 5.4s linear 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: shatter 5.4s linear 1;
    -moz-animation-fill-mode: forwards;
    animation: shatter 5.4s linear 1;
    animation-fill-mode: forwards;
    background: url(/assets/images/broken-glass.png);
    height: 302px;
    left: 7%;
    position: absolute;
    top: 180px;
    visibility: hidden;
    width: 338px;
    z-index: 55;
  }
  /* line 240, ../../../workspace/styles/errors/_errors-960.scss */
  .error-500 .rabbit {
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: swing 3.6s ease-in-out infinite;
    -moz-animation: swing 3.6s ease-in-out infinite;
    animation: swing 3.6s ease-in-out infinite;
    background: url(/assets/images/rabbit-500-desktop.png);
    height: 500px;
    left: 2%;
    margin: 0;
    position: absolute;
    top: -20px;
    -moz-transform-origin: 216px 0;
    -ms-transform-origin: 216px 0;
    -webkit-transform-origin: 216px 0;
    transform-origin: 216px 0;
    -moz-transform: scale(0.9) rotate(15deg);
    -ms-transform: scale(0.9) rotate(15deg);
    -webkit-transform: scale(0.9) rotate(15deg);
    transform: scale(0.9) rotate(15deg);
    width: 286px;
    z-index: 50;
  }
}
@media only screen and (min-width: 1280px) {
  /* line 3, ../../../workspace/styles/errors/_errors-1280.scss */
  .error-500 .glass {
    left: 12%;
  }
  /* line 7, ../../../workspace/styles/errors/_errors-1280.scss */
  .error-500 .rabbit {
    left: 8%;
  }
}
