/* Mixins *******************************************/
/*easeInOutQuint*/
/* line 1, ../../../workspace/styles/games/_games-base.scss */
.hero {
  position: relative;
}
/* line 5, ../../../workspace/styles/games/_games-base.scss */
.hero .hero-image {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  width: 100%;
}
/* line 13, ../../../workspace/styles/games/_games-base.scss */
.hero .game-logo {
  bottom: 236px;
  left: 50%;
  position: absolute;
}
/* line 18, ../../../workspace/styles/games/_games-base.scss */
.no-touch .hero .game-logo {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 26, ../../../workspace/styles/games/_games-base.scss */
.hero .btn-large-arrow {
  position: absolute;
  -moz-transition: opacity 250ms ease;
  -ms-transition: opacity 250ms ease;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  -webkit-backface-visibility: hidden;
}
/* line 32, ../../../workspace/styles/games/_games-base.scss */
.hero .btn-large-arrow.inactive {
  cursor: default;
  opacity: 0;
}
/* line 39, ../../../workspace/styles/games/_games-base.scss */
.hero #heroNext, .hero #heroPrev {
  top: 145px;
}
/* line 43, ../../../workspace/styles/games/_games-base.scss */
.hero #heroNext {
  right: 0;
}
/* line 47, ../../../workspace/styles/games/_games-base.scss */
.hero .game-nav {
  display: none;
}

/* line 53, ../../../workspace/styles/games/_games-base.scss */
.hero-more {
  display: none;
}
/* line 56, ../../../workspace/styles/games/_games-base.scss */
.no-touch .hero-more {
  -webkit-transform-style: preserve-3d;
}

@media only screen and (min-width: 641px) {
  /* line 3, ../../../workspace/styles/games/_games-600.scss */
  .hero .hero-image {
    height: 490px;
  }
  /* line 7, ../../../workspace/styles/games/_games-600.scss */
  .hero #heroNext, .hero #heroPrev {
    top: 240px;
  }
  /* line 11, ../../../workspace/styles/games/_games-600.scss */
  .hero .game-logo {
    bottom: 459px;
  }
}
@media only screen and (min-width: 960px) {
  /* line 3, ../../../workspace/styles/games/_games-960.scss */
  .hero .hero-image {
    height: 100%;
  }
  /* line 7, ../../../workspace/styles/games/_games-960.scss */
  .hero .circle-wrap {
    left: -23px;
    position: absolute;
  }
  /* line 12, ../../../workspace/styles/games/_games-960.scss */
  .hero .game-logo {
    bottom: 43px;
    left: auto;
    right: 22px;
  }

  /* line 20, ../../../workspace/styles/games/_games-960.scss */
  .hero-more {
    bottom: 0;
    cursor: pointer;
    display: block;
    height: 20px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    -moz-transition: opacity 250ms ease;
    -ms-transition: opacity 250ms ease;
    -webkit-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
    width: 100%;
  }
  /* line 33, ../../../workspace/styles/games/_games-960.scss */
  .hero-more.fade {
    opacity: 0;
    cursor: default;
  }
}
